
@plugin "daisyui/theme" {
    name: "light";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: #FBFBFB;
    --color-base-200: #EFEFF2;
    --color-base-300: #E8E8E8;
    --color-base-content: #4B4446;
    --color-primary: #A5998B;
    --color-primary-content: hsl(210 27.3% 99.5%);
    --color-secondary: #E2D8D0;
    --color-secondary-content: #4B4446;
    --color-accent: #D1C09E;
    --color-accent-content: #4B4446;
    --color-neutral: #4B4446;
    --color-neutral-content: #FBFBFB;
    --color-info: #789BB3;
    --color-info-content: #FBFBFB;
    --color-success: #8EAE7B;
    --color-success-content: #FBFBFB;
    --color-warning: #D68C45;
    --color-warning-content: #FBFBFB;
    --color-error: #823C46;
    --color-error-content: #FBFBFB;
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 2rem;
    --size-selector: 0.3125rem;
    --size-field: 0.3125rem;
    --border: 1px;
    --depth: 1;
    --noise: 1;
}
