@import "./general-sans.css";
@import "./britney.css";
@import "./crimson-pro.css";
/*
@import "./clash-display.css";
*/

:root {
  --font-general-sans: "General Sans", "Inter", "Segoe UI", Arial, sans-serif;
  --font-britney: "Britney", "Times New Roman", serif;
  --font-crimson-pro: "Crimson Pro", cursive;
  /*
  --font-clash-display: "Clash Display", "Inter", Arial, sans-serif;
  */

    --font-heading: var(--font-crimson-pro);
    --font-normal: var(--font-general-sans);
    --font-quote: var(--font-britney);
    --font-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
}


