<footer class="footer sm:footer-horizontal bg-neutral text-neutral-content p-10">
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
    <button class="link link-hover" type="button" data-cc="show-consentModal">Gestion des cookies</button>
    <button class="link link-hover" type="button" data-cc="show-preferencesModal">Configurer mes cookies</button>

  </nav>
  <nav>
    <h6 class="footer-title">Tests pages</h6>
    <a class="link link-hover" href="icons-gallery.html">Icônes</a>
    <a class="link link-hover" href="test-typo.html">Typographie</a>
    <a class="link link-hover" href="test-photo-grid.html">Photo grid</a>
    <a class="link link-hover" href="test-diaporama.html">Diaporama</a>
    <a class="link link-hover" href="test-many-text.html">Many text</a>
    <a class="link link-hover" href="test-form-contact.html">Formulaire</a>
  </nav>
</footer>
