/**
Toutes les navs en fixed devraient avoir la classe is-fixed-nav.
Toutes les pages avec un hero en top devraient avoir une classe is-top-hero

 */

:root{
    --nav-height: 4rem;
}

body{
  &:has(.is-fixed-nav){
    border: 1px solid red;
    padding-top: var(--nav-height);
    &:has(.is-top-hero){
      border: 1px dashed red;
      padding-top: 0;
    }
  }
}