<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{$title}}</title>
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link rel="stylesheet" href="/src/styles/main.scss" />
    <slot name="header" />
  </head>
  <body class="min-h-svh flex flex-col">

    <slot />

    <include file="@layout/drawer-molecules-catalog.html" />

  </body>
  <slot name="after-body" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@3.1.0/dist/cookieconsent.css">
  <script type="module" src="/main.js"></script>
  <include file="analytics-rgpd.html"></include>
</html>
